<p id="meetingList" style="display:none"></p>
<p id="ruuningMeeting" style="display:none"></p>

<form id = "leave-conference" name = "leave-conference"  action="" method="POST">
            {% csrf_token %}
            <input id = "meetingPID" type = "hidden" name = "meetingPID" value = default />
            <input type="submit" id="leave-conference" name="leave-conference" onclick="return leaveConference()" value="Leave Conference">
</form>
<!--before call insertthumb-->
        <div class="active-meeting-list" id="meeting_list">
            <div class="meeting-list-wrap" id="concurrent-wrap"></div>
        </div>

<!--after call insertmeetingthumb-->
<div class="active-meeting-list" id="meeting_list">
    <div class="meeting-list-wrap" id="concurrent-wrap">
        <div class="idv-concurrent" id='SlytherinDungeon'>
            <div class="meetingInfoWrap">
                    <p class="onscreen-name" id='roomThumb-0'>Slytherin Dungeon</p>
                    <div class="session-btn-container">
                        <form name = 'join-room-0' id = 'join-room-0' action="" method="POST">
                            <input id = 'meetingName0' type = "hidden" name = 'meetingName0' value = "Slytherin Dungeon"/>
                            <input id = 'meetingPID0' type = "hidden" name = 'meetingPID0' value = "OTHER" />
                            <input id = 'displayName0' type = "hidden" name = 'displayName0' value = "default" />
                            <input type="submit" class="join-btn" id="join-room-0" name='join-room-0' onclick="return renewAPI(this.id)" value="Join Meeting">
                            <input type="button" class="leave-btn" id='leave-room-0' onclick="return leaveMeeting(this.id)" value="Leave Meeting">
                        </form> 
                    </div>
                </div>
            <div class="meetingAvatarWrap" id='avatar-wrap--Slytherin_Dungeon'></div>
        </div>
    </div>
</div> 

<!-- before call avatar wrap-->
<div class="meetingAvatarWrap" id='avatar-wrap--Slytherin_Dungeon'></div>
var my_data = [['Slytherin Dungeon'],['jonh+10485976','linda+92319283']];

<!-- after call avatar wrap-->
<div class="meetingAvatarWrap" id='avatar-wrap--Slytherin_Dungeon'>
    <div class="participant-avatar" id="participant--10485976">
        <div class="avatar-background" id='background--10485976' style="background-color:rgba(232,105,156,0.2);">
            <p class="displayName-text" id="displayName--10485976">jonh</p>
        </div>
    </div>  
    <div class="participant-avatar" id="participant--10485976">
        <div class="avatar-background" id='background--92319283' style="background-color:rgba(232,105,156,0.2);">
            <p class="displayName-text" id="displayName--92319283">linda</p>
        </div>
    </div> 
</div>

<div id="myForm">
    <form class="meeting-info-form" id = "meeting_form" name = "meeting_form"  action="" method="POST">
     {% csrf_token %}
        <div class="form-group">
            <p style="color: rgb(184, 199, 224);position:relative;top:25%;font-family: Arial;font-size: 78%;">
                User Name</p>
            <input type="text" name="userAlias" id="userAlias" value="" style="width:90%" maxLength="200" placeholder="Enter Your User Name..." class="form-control" >
        </div>
        <br><br><br><button class="joinmeetingbtn"id="meeting_form" name="meeting_form" value="Join" onclick="saveNewName();return false">Enter</button>
    </form>
</div>
</div>